<div class="container-fluid">

    <ui-card title="Dashboard">

        Bienvenido a Nova UI 🚀

        <div class="d-flex gap-3 mt-4">

            <ui-button icon="fa-solid fa-plus">
                Nuevo
            </ui-button>

            <ui-button variant="success" icon="fa-solid fa-check">
                Guardar
            </ui-button>

            <ui-button variant="danger" icon="fa-solid fa-trash">
                Eliminar
            </ui-button>

            <ui-button variant="outline">
                Cancelar
            </ui-button>

        </div>


    </ui-card>

</div>