<aside
    class="sidebar"
    [class.sidebar--classic]="layoutService.mode() === 'classic'"
    [class.sidebar--collapsed]="layoutService.collapsed()">

    <div class="logo">

        <div class="logo-icon">
            N
        </div>

        @if (!layoutService.collapsed()) {

            <div class="logo-text">
                Nova UI
            </div>

        }

    </div>

    <nav class="menu">

        @for (module of menuService.modules(); track module.nombre) {

        <div class="menu-module">

            <div class="module-title" (click)="toggleModule(module.nombre)">

                <div class="module-info">

                    <i [class]="module.icono + ' ' + module.color"></i>

                    @if (!layoutService.collapsed()) {

                        <span>{{ module.nombre }}</span>

                    }

                </div>

                @if (!layoutService.collapsed()) {

                    <i class="fa-solid fa-chevron-down arrow" [class.rotate]="openModule === module.nombre"></i>

                }

            </div>

            @if (openModule === module.nombre) { @for (option of module.opciones; track option.ruta) {

            <a class="menu-item">

                <i [class]="option.icono + ' ' + option.color"></i>

                @if (!layoutService.collapsed()) {

                    <span>{{ option.nombre }}</span>

                }

            </a>

            } }

        </div>

        }

    </nav>

</aside>
